body {
	width: 900px;
	font-family: 'Dosis', sans-serif;
	margin: auto;
	/*border: 1px solid pink;*/

}

/************************************RELACIONADO CON TEXTO*/

h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 4em;
	padding-top: 20px;
	padding-bottom: 2px;
}

h3 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bold;
	font-size: 1em;
	/*padding-top: 20px;*/
	padding-bottom: 5px;
	color:#dcb3b3;
}

h2 {
    font-size: 1em;
	padding-bottom: 10px;
	text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}

section h2 {
	font-size: 4em;
	width: 250px;
	float: left;
	margin-left: 20%;
	text-align: right;
	margin-right: 6px;
}

#d2d h2 {
	font-size: 4em;
	width: 200px;
	float: left;
	margin-left: 25%;
	text-align: right;
	margin-right: 6px;
    line-height: 0.7em;
	font-family: 'Alegreya Sans SC', sans-serif;
}

#d2d p {
	padding-top: 5px;
}

#tati h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
}

#sandm h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
	line-height: 0.7em;
}

#sandm p {
	padding-top:7px;
}

#tati p {
	padding-top:14px;
}

p {
	width: 250px;
	font-size: 0.9em;
	text-align: left;
	/*padding-top:px;*/
	padding-left: 10px;
	line-height: 1.4em;
    float: left;
}

.modal-contenido p {
	text-align: left;
	font-size: 1em;
	margin-left: 23%;
	line-height: 2em;
	width: 400px;
	color:#874c4c;
	margin-top: 15px;
}

#pop h2 {
	font-size: 2em;
    text-align: center;
    padding-left:12%;
    padding-top: 17px;
}

#pop2 h2 {
	font-size: 2em;
    text-align: center;
    padding-left:12%;
}

#pop3 h2 {
	font-size: 2em;
    text-align: center;
    padding-left:12%;
}
/***********************************SECCIONES*/

section {
	width:900px;
	border:1px dotted #d0cfcf;
	float: left;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}



footer {   /******FOOTER*/
	clear: both;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 0.7em;
}

header { /*******HEADER*/
	/*border: 1px solid red;*/
	text-align: center;
	padding-bottom: 10px;
}

ul {
	width: 900px;
	float: left;
	margin-left: 13%;
	margin-bottom: 20px;
}

li {
	display: inline-block;
	float: left;
}

li img {
	width: 200px;
	padding: 10px;
	float: left;
}

a {
	text-decoration:none;
	color: black;
}

a:hover {
	color:gray;
}

/*****************************************POPUP*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(246,198,226,0.2); /* Black w/ opacity */
}

.modal-contenido {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 700px; /* Could be more or less, depending on screen size */
    height: 600px;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: #f35c5c;
    text-decoration: none;
    cursor: pointer;
}


#but, #but2, #but3 {
	background: none;
	border-radius: 1em;
	border: 1px solid #dcb3b3;
	margin-top:10px;
	font-size: 0.8em;
	color:#dcb3b3;
}

#but:hover {
	background: none;
	border-radius: 1em;
	border: 1px solid #f35c5c;
	margin-top:10px;
	font-size: 0.8em;
	color:#ffffff;
	background:#f35c5c;
}

#pop img {
	width: 400px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 23%;
}

