@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}



a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 1em;
	color:#ffffff;
	padding: 5px;
	
}


h3 {
	font-size:1em;
	color: #d0d0d0;
	font-weight: 100;
	padding-bottom: 10px;
}	

h6 {
	font-size: 9em;
	opacity: 0;
}


p {
	font-size: 2em;
}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.section{
	text-align:center;

}

a {
	text-decoration: none;
}

button {
	display:inline-block;
	margin: 10px;
	-webkit-border-radius: 1px;
	font-weight: 200;
	padding: 5px; 
	border: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 200; 
	text-transform: lowercase;
	margin:auto;
	color: #ffffff;
}

button:hover {
	background: #fecd0a;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
	color: #000000;
}

#menu li {
	display:inline-block;
	margin: 10px;
	-webkit-border-radius: 1px;
	font-weight: 200;
	padding: 5px;          
}
#menu li.active{
	background: #83b0a4;

}

#menu li a{
	text-decoration:none;
	color:#ffffff;
}

#menu li.active a:hover{
	text-decoration: none;
	color: #000000;
}
#menu li:hover{
	background: #fecd0a;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
	color: #000000;
}
#menu li a,
#menu li.active a{
	display:block;
}
#menu li.active a{
	color: #ffffff;
}

#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	padding-left: 40%;
	text-transform: lowercase;
	background-image: url('images/menufon.jpg');
	background-size: cover;
}


#section1 img {
	width: 50px;
}

#section0 {
	padding-left: 3%;
}

#section0 img {
	width: 200px;

}

#section2 {
	background-image: url('images/fonto3.jpg');
	background-size: 2000px;

}

i {
	color:#83b0a4;
	-webkit-transition: .3s ease-in-out;
	transition: .2s ease-in-out;
	padding: 5px;
}

i:hover {
	color: #fece0a;
}

#section1 i {
	padding: 0;
}



.imagencontexto {
	background-image: url('images/imagenuno.jpg');
	background-size: cover;
	width: 200px;
	height: 200px;
	float: left;
	padding-left: 2px
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
	
}

.imagencontexto:hover {
	background-image: url('images/imagenunoh.jpg');
	background-size: cover;
	content: "hover";
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}



.imagencontexto2 {
	background-image: url('images/imagendos.jpg');
	background-size: cover;
	width: 200px;
	height: 200px;
	float: left;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
	
}

.imagencontexto2:hover {
	background-image: url('images/imagendosh.jpg');
	background-size: cover;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}

.imagencontexto3 {
	background-image: url('images/imagentres.jpg');
	background-size: cover;
	width: 200px;
	height: 200px;
	float: left;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}

.imagencontexto3:hover {
	background-image: url('images/imagentresh.jpg');
	background-size: cover;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}

.imagencontexto4 {
	background-image: url('images/imagencuatro.jpg');
	background-size: cover;
	width: 200px;
	height: 200px;
	float: left;
	padding: 1px;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}

.imagencontexto4:hover {
	background-image: url('images/imagencuatroh.jpg');
	background-size: cover;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}

.imagencontexto5 {
	background-image: url('images/imagencinco.jpg');
	background-size: cover;
	width: 200px;
	height: 200px;
	float: left;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}

.imagencontexto5:hover {
	background-image: url('images/imagencincoh.jpg');
	background-size: cover;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}

.imagencontexto6 {
	background-image: url('images/imagenseis.jpg');
	background-size: cover;
	width: 200px;
	height: 200px;
	float: left;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;	
}

.imagencontexto6:hover {
	background-image: url('images/imagenseish.jpg');
	background-size: cover;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}



.slide {
	margin:auto;
	padding-top: 6%;
	outline: 0;
	padding-bottom: 8%;\
	background-image: url('images/logo2.png');
}

.fashion h2, .slide h2 {
	font-size: 2em;
	font-weight: 500;
}

.fashion h3,.slide h3 {
	font-size: 1em;
	color:#000000;
}

#section22 {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 3%;
	background-image: url('images/fonto3.jpg');
	background-size: cover;
}

#setion22 img {
	width: 100px;
}

.fashion {
	padding-top: 5%;
	padding-bottom: 3%
}

#myform {
	padding-left: 40%;
	padding-top: 6%;
	padding-bottom: 6%;
}

